body {
    background-color: #305426;
    font-family: 'Geo', sans-serif;
    -webkit-font-smoothing: none;
    font-weight: bold;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: none;
  color: white;
  background-color: #305426;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 50px;
  font-weight: bold; 
}

.btn:hover {
  color: blue;
}

#input:hover {
  color: blue;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.dim {
  color: white;
  font-size: 30px;
}

.dim-label {
  color: white;
  font-size: 40px;
}

#info {
  width: 70%;
}

.dim-btn {
  font-size: 40px;
  padding: 0%;
}

.content {
  padding-top: 40px;
  padding-bottom: 20px;
}